/* input::-webkit-input-placeholder {
  font-family: 'Material Icons Outlined';
} */
* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: #16202a;
}
.sec {
  width: 70vw;
  margin: 1rem auto;
  color: white;
  position: relative;
}
.twitter-logo {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}
.nav h4 {
  font-weight: 300;
  font-size: 1.3rem;
  margin-left: 1rem;
  padding-top: 1.5rem;
}
.nav-links span {
  font-size: 2rem;
}
.nav-links {
  list-style: none;
  padding-top: 1.8rem;
  margin-left: 1rem;
}
.nav-links h4 {
  display: inline;
}
.tweet-btn {
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
  border-radius: 25px;
  width: 225px;
  height: 52px;
}
.tweet-btn-round {
  display: none;
  border: none;
  background-color: rgb(29, 155, 240);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.quil {
  color: white;
  font-size: 1.5rem;
}
.left-sec {
  height: 100vh;
  /* position: absolute;
  top: 0;
  left: 13rem; */
}
.small-round {
  display: none;
  position: absolute;
  bottom: 10px;
}
.footer-profile {
  position: absolute;
  bottom: 10px;
}
.footer-profile-more {
  position: absolute;
  top: 1rem;
  right: -3rem;
  font-size: xx-large;
}
.trends {
  position: relative;
}
.search-twitter {
  width: 350px;
  height: 53px;
  border-radius: 25px;
  border: 0;
  background-color: #1f2732;
  padding: 12px;
  padding-left: 3rem;
  outline: none;
}
.search-twitter::placeholder {
  color: rgb(168, 168, 168);
}
.search-icon {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
}
.trends-for-you {
  width: 350px;
  background-color: #1f2732;
  border-radius: 15px;
  padding: 10px;
}
.trends-for-you span {
  font-size: small;
}
.trends-for-you h5 {
  font-size: medium;
}
.trend-item {
  padding-top: 1rem;
  position: relative;
}
.trend-item-more {
  position: absolute;
  top: 28px;
  right: 6px;
}
.trend-show-more {
  text-decoration: none;
  color: rgb(29, 155, 240);
}
nav {
  display: none;
}
.main {
  border: 1px solid rgba(120, 120, 120, 0.1);
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  width: 35vw;
}
.home-profile-img {
  display: none;
}
.tweet-field {
  border: 0cm;
  width: 80%;
  height: 4rem;
  background-color: #16202a;
  outline: none;
}
.tweet-field::placeholder {
  font-size: 1.3rem;
  color: rgb(168, 168, 168);
}
.iconsNbtn {
  margin-top: 1.5rem;
  border-top: 1px solid rgba(120, 120, 120, 0.1);
}
.tweet-field-icons {
  color: rgba(29, 156, 240, 0.748);
  margin: 0.7rem;
}
.tweet-field-btn {
  border: none;
  background-color: rgba(29, 156, 240, 0.606);
  color: white;
  border-radius: 25px;
  width: 76px;
  height: 36px;
  margin: 0.7rem;
}
.show {
  border-top: 1px solid rgba(120, 120, 120, 0.12);
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
}
.show-tweets {
  color: rgb(29, 156, 240);
  margin: 0;
}
.tweet {
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
}

.twt {
  position: relative;
}
.at-n-time {
  opacity: 0.7;
}
.tweet-profile-more {
  position: absolute;
  top: 5px;
  right: 16px;
  font-size: large;
}
.responses {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.responses div {
  opacity: 0.7;
}
.response-count {
  display: inline;
  margin-left: 0.5rem;
}
.responses span {
  font-size: medium;
  vertical-align: -4px;
}
.icons {
  vertical-align: -4px;
}
@media (max-width: 1650px) {
  .sec {
    width: 83vw;
  }
}
@media all and (max-width: 1240px) {
  .sec {
    width: 90vw;
  }
  .main {
    width: 50vw;
  }
  .nav {
    width: 3rem;
  }
  .nav-links h4 {
    display: none;
  }
  .tweet-btn {
    display: none;
  }
  .tweet-btn-round {
    display: block;
    border: none;
    background-color: rgb(29, 155, 240);
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .small-round {
    display: block;
    position: relative;
    bottom: 30px;
  }
  .footer-profile {
    display: none;
  }
}
@media all and (max-width: 1020px) {
  .sec {
    width: 100vw;
  }
  .left-sec {
    margin-left: 3rem;
  }
  .main {
    margin-left: 2rem;
    width: 70vw;
  }
  .trends {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .sec {
    justify-content: start;
  }
  .left-sec {
    margin-left: 1rem;
  }
  .main {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .sec {
    width: 90vw;
  }
  .left-sec {
    display: none;
  }
  .main {
    margin: 0;
    width: 90vw;
    border: 0;
  }
  form {
    display: none;
  }
  .header {
    background-color: #16202a;
    position: fixed;
    top: 0;
    padding: 1rem 0.4rem;
    width: 100%;
    z-index: 1;
  }
  .show {
    margin: 0 -0.8rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(120, 120, 120, 0.12);
    border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  }
  .home-profile-img {
    display: inline;
  }
  .home-text {
    display: inline;
  }
  .stars {
    margin-top: 0;
  }
  .feed {
    margin: 0 -0.8rem;
  }
  nav {
    margin: 0 -0.8rem;

    border-top: 1px solid rgba(120, 120, 120, 0.12);
    border-bottom: 1px solid rgba(120, 120, 120, 0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #16202a;
    padding: 0.5rem;
  }
  .bottom-icons {
    background-color: transparent;
    border: 0;
  }
}
