* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #16202a;
}
.sec {
  width: 70vw;
  margin: 1rem auto 0 auto;
  color: white;
  position: relative;
  display: flex;
}
.twitter-logo:hover {
  background-color: #1f2c39;
}
.twitter-logo {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 25px;
}
.nav h4 {
  font-weight: 300;
  font-size: 1.3rem;
  margin-left: 1rem;
  padding-top: 1.5rem;
}
.nav-links span {
  font-size: 2rem;
}
.nav-links {
  cursor: pointer;
  list-style: none;
  padding: 0.9rem;
  margin-left: 1rem;
  border-radius: 2rem;
}
.nav-links:hover {
  background-color: #1f2c39;
}
.nav-links h4 {
  display: inline;
}
.tweet-btn {
  margin-top: 2rem;
  font-size: 1.3rem;
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
  border-radius: 25px;
  width: 225px;
  height: 52px;
}
.tweet-btn-round {
  margin-top: 2rem;
  display: none;
  border: none;
  background-color: rgb(29, 155, 240);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.quil {
  color: white;
  font-size: 1.5rem;
}
.left-sec {
  height: 100%;
  position: sticky;
  top: 1rem;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}
.small-round {
  display: none;
  position: absolute;
  bottom: 10px;
}
.footer-profile {
  position: fixed;
  bottom: 10px;
}
.footer-profile-more {
  position: absolute;
  top: 1rem;
  right: -3rem;
  font-size: xx-large;
}
.trends {
  margin-left: 1rem;
  height: 100%;
  color: white;
  position: sticky;
  top: 1rem;
}
.search-twitter {
  color: white;
  width: 350px;
  height: 53px;
  border-radius: 25px;
  border: 0;
  background-color: #1f2732;
  padding-left: 3rem;
  outline: none;
}
.search-twitter::placeholder {
  color: rgb(168, 168, 168);
}
.search-icon {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
}
.trends-for-you {
  margin-top: 1rem;
  width: 350px;
  background-color: #1f2732;
  border-radius: 15px;
  padding: 10px;
}
.trends-for-you span {
  font-size: small;
}
.trends-for-you h5 {
  font-size: medium;
  margin: 0;
}
.trend-item {
  padding-top: 1rem;
  position: relative;
}
.trend-item:hover {
  background-color: #232d39;
}
.trend-item-more {
  position: absolute;
  top: 28px;
  right: 6px;
}
.trend-show-more {
  margin-top: 1rem;
  text-decoration: none;
  color: rgb(29, 155, 240);
}
nav {
  display: none;
}
.main {
  border: 1px solid rgba(120, 120, 120, 0.1);
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  width: 35vw;
}
.home-profile-img {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
}
.stars {
  margin-right: 1.5rem;
}
.tweet-field {
  border: 0cm;
  width: 80%;
  height: 4rem;
  color: white;
  background-color: #16202a;
  outline: none;
}
.tweet-field::placeholder {
  font-size: 1.3rem;
  color: rgb(168, 168, 168);
}
.iconsNbtn {
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(120, 120, 120, 0.1);
}
.iconsNbtn span {
  padding: 0.8rem 0.5rem;
}
.tweet-field-icons {
  color: rgba(29, 156, 240, 0.748);
  margin: 0.7rem;
}
.tweet-field-btn {
  border: none;
  background-color: rgba(29, 156, 240, 0.606);
  color: white;
  border-radius: 25px;
  width: 76px;
  height: 36px;
  margin: 0.7rem;
}
.show:hover {
  background-color: #1a2530;
}
.show {
  text-align: center;
  border-top: 1px solid rgba(120, 120, 120, 0.12);
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  padding: 1rem 0;
}
.show a {
  font-size: 1.1rem;
  text-decoration: none;
}
.show-tweets:hover {
  color: rgb(29, 156, 240);

  text-decoration: none;
}
.show-tweets {
  color: rgb(29, 156, 240);
  margin: 0;
}
.tweet {
  border-bottom: 1px solid rgba(120, 120, 120, 0.1);
}
.tweet:hover {
  background-color: #1a2530;
}
.tweet-feed-dp {
  border-radius: 25px;
  margin-right: 0.5rem;
}
.tweet-img {
  margin: 0.5rem 0;
  max-height: 30rem;
  border-radius: 8px;
}
.media {
  display: flex;
}
.twt {
  flex: 1;
  position: relative;
}
.at-n-time {
  opacity: 0.7;
}
.tweet-profile {
  margin-top: 1rem;
  margin-left: 0.7rem;
}
.tweet-profile-more {
  position: absolute;
  top: 5px;
  right: 2px;
  font-size: large;
}
.responses {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.responses div {
  opacity: 0.7;
}
.response-count {
  display: inline;
  margin-left: 0.5rem;
}
.responses span {
  font-size: medium;
  vertical-align: -4px;
}
.icons {
  vertical-align: -4px;
}
@media (max-width: 1650px) {
  .sec {
    width: 83vw;
  }
}
@media all and (max-width: 1240px) {
  .sec {
    width: 95vw;
  }
  .left-sec {
    margin-left: 2rem;
  }
  .main {
    width: 50vw;
  }
  .nav-links h4 {
    display: none;
  }
  .tweet-btn {
    display: none;
  }
  .tweet-btn-round {
    display: block;
    border: none;
    margin-right: 0 !important;
    background-color: rgb(29, 155, 240);
  }
  .small-round {
    display: block;
    position: relative;
    margin-top: 3rem;
  }
  .footer-profile {
    display: none;
  }
}
@media all and (max-width: 1020px) {
  .sec {
    width: 100vw;
    margin: 1rem 0;
  }
  .left-sec {
    margin-left: 5rem;
  }
  .main {
    width: 65vw;
  }
  .trends {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .sec {
    justify-content: start;
  }
  .left-sec {
    margin: 0;
  }
  .main {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .sec {
    margin: 1rem 0.5rem;
    width: 90vw;
  }
  .left-sec {
    display: none;
  }
  .main {
    margin: 0;
    width: 90vw;
    border: 0;
  }
  form {
    display: none;
  }
  .header {
    background-color: #16202a;
    position: fixed;
    top: 0;
    padding: 1rem 0.4rem;
    width: 100%;
    z-index: 1;
  }
  .show {
    margin: 0 -0.8rem;
    margin-top: 4rem;
    border-top: 1px solid rgba(120, 120, 120, 0.12);
    border-bottom: 1px solid rgba(120, 120, 120, 0.1);
  }
  .home-profile-img {
    display: inline;
    border-radius: 25px;
  }
  .home-text {
    display: inline;
  }
  .feed {
    margin: 0 -0.8rem;
  }
  .tweet-img {
    max-width: 20rem;
  }
  nav {
    border-top: 1px solid rgba(120, 120, 120, 0.12);
    border-bottom: 1px solid rgba(120, 120, 120, 0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #16202a;
    padding: 0.5rem;
  }
  .bottom-icons {
    background-color: transparent;
    padding-right: 1rem;
    color: white;
    font-size: 1.4rem;
    border: 0;
  }
}
